{% from "common/_macros.html" import static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% include 'common/_heads.html' %}
    <link rel="stylesheet" href="{{ static(filename='front/css/front_base.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
{#    <nav class="navbar navbar-default">#}
    <nav class="navbar-fixed-top navbar-inverse ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
{#                <a class="navbar-brand" href="/">Blog</a>#}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
{#                    <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>#}
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Resume</a></li>
                </ul>
{#                <form class="navbar-form navbar-left">#}
{#                    <div class="form-group">#}
{#                        <input type="text" class="form-control" placeholder="Key word...">#}
{#                    </div>#}
{#                    <button type="submit" class="btn btn-default">Search</button>#}
{#                </form>#}
                <ul class="nav navbar-nav navbar-right">
                    {% if g.front_user %}
                        {#                    下面这个span提供给js读取是否登陆#}
                        <span id="login-tag" data-is-login="1" style="display: none"></span>
                        {#                        <li><a href="">{{ g.front_user.username }}</a></li>#}
                        <li>
                            <a href="{{ url_for("front.apost") }}" class="btn ">New Post</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ g.front_user.username }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="min-width: 115px">
{#                                <li><a href="#" style="color: #333">Info</a></li>#}
{#                                <li><a href="#" style="color: #333">Setting</a></li>#}
                                <li><a href="{{ url_for('front.logout') }}" style="color: #333">Log off</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('front.signin') }}">Login</a></li>
{#                        <li><a href="{{ url_for('front.signup') }}">Sign Up</a></li>#}
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="main-container">
        {% block body %}{% endblock %}
    </div>
<footer class="bs-docs-footer">
  <div class="container">
    <ul class="bs-docs-footer-links">
      <li><a href="https://github.com/ewenliu" target="_blank">My GitHub</a></li>
{#      <li><a href="../getting-started/#examples">实例</a></li>#}
{#      <li><a href="http://www.youzhan.org">优站精选</a></li>#}
{#      <li><a href="../about/">关于</a></li>#}
    </ul>
      <p>A websit powered by Flask & Uwsgi & Nginx</p>
      <p>Contact: ewen.liu@outlook.com <a href="http://beian.miit.gov.cn">浙ICP备19047333号</a> </p>
  </div>
</footer>
</body>
</html>