{% extends 'front/front_signbase.html' %}
{% from "common/_macros.html" import static %}

{% block title %}My BLOG Sign In{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ static(filename='front/css/front_signbase.css') }}">
    <script src="{{ static(filename='front/js/front_signin.js') }}"></script>
{% endblock %}

{% block h2_block %}My blog Sign In{% endblock %}


{% block signbox %}
    <div class="form-group">
        <input type="text" class="form-control" name="email" id="" placeholder="Email address">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" id="" placeholder="Password">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="remember" value="1">Remember Me
        </label>
        <a href="#" class="resetpwd-link" style="float: right">Forget password?</a>
    </div>
    <div class="form-group">
        <button class="btn btn-login btn-block" id="submit-btn">Sign in now</button>
    </div>
{% endblock %}
