{% extends 'base.html' %}

{% block title %}Detail-{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
{% endblock %}

{% block main %}
<main role="main" class="container">
<div class="col-md-8" style="margin: 0 auto">
    <article class="media content-section">
    <h3 class="page-title">{{ question.title }}</h3>
    <p class="question-info">
        <span class="question-author">Author: {{ question.author.username }}</span>
        <span>Date: {{ question.create_time }}</span>
    </p>
    <hr>
    <p class="question-content">{{ question.content }}</p>
    <hr>
    <h4>Comments: (0)</h4>
    <form action="{{ url_for('add_answer') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Please enter comments" name="comments_content">
            <input type="hidden" name="question_id" value="{{ question.id }}">
        </div>
        <div class="form-group" style="text-align: right;">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
    <ul class="answer-list">
        {% for answer in question.answers %}
            <li>
                <div class="user-info">
                    <img src="{{ url_for('static', filename='images/comment.png') }}" class="avatar">
                    <span class="username">{{ answer.author.username }}</span>
                    <span class="creat-time">{{ answer.create_time }}</span>
                </div>
                <p class="answer-content">{{ answer.content }}</p>
            </li>
        {% endfor %}
    </ul>
    </article>
</div>
<div class="col-md-4">
    <div class="content-section">
        <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
            </p>
    </div>
</div>
 </main>
{% endblock %}