
body{
    background: #f3f3f3;
}
.outer-box{
    width: 854px;
    background: #ffffff;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.logo-box{
    text-align: center;
    padding-top: 40px;
}
.logo-box img{
    width: 60px;
    height: 60px;
}
.page-title{
    text-align: center;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-style: italic !important;
}
.sign-box{
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
}
.captcha-addon{
    padding: 0;
    overflow: hidden;
}
.captcha-img{
    width: 94px;
    height: 32px;
    cursor: pointer;
}

.btn-login{
    color: #fcf8e3;
    background-color: #333;
    border-color: #333;
}

.btn:hover{
    color: #fcf8e3;
    background-color: #555;
}